body {
  font-family: Arial;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

#events {
  margin-top: 20px;
}

.card {
  background: #1c1c1c;
  margin: 10px auto;
  padding: 15px;
  width: 300px;
  border-radius: 10px;
}
